@model List<avatCo.Models.Product>
@{
    ViewData["Title"] = "product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewBag.Categories as List<avatCo.Models.Category>;
}


<a href="/admin/products/create">Add New Product</a>
<a href="/admin/products/addCategory">Add New Category</a>

<h4>دسته‌بندی‌ها</h4>
<ul class="list-group mb-4">
    <thead>
        <tr><th>name</th><th>description</th></tr>
    </thead>
    @foreach (var category in categories)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @category.Name
            <span class="badge bg-primary rounded-pill">
                تعداد محصولات: @category.Products?.Count() ?? 0
            </span>
        </li>
    }
</ul>


<table>
    <thead>
        <tr><th>Title</th><th>Price</th><th>description</th><th>Actions</th></tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Title</td>
                <td>@p.Price</td>
                <td>@p.Description</td>
                <td>
                    <a href="/admin/products/edit/@p.Id">Edit</a>
                    <form method="post" action="/admin/products/delete/@p.Id" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>